 {
	margin 0px;
	padding 0px;
}
#main {
	height 400px;
	width 90%;
	position absolute;
	left 5%;
	top 100px;
}			
.menu {
	width 100%;
	height 80px;
	position absolute;
}
.buttonSize {
	width 80px;
	height 30px;
	position absolute;
	right 50px;
	top 20px;
}
.selectSizeMonth {
	width 120px;
	height 30px;
	position absolute;
	right 180px;
	top 20px;
	text-align center;
}
.selectSizeYear {
	width 120px;
	height 30px;
	position absolute;
	right 320px;
	top 20px;
	text-align center;
}
